{# Internal properties #}
{% set _css_class = 'ema-rating-form' %}
{% set _rating = rating %}
{% set _selector = selector|default('ema-rating-form__review') %}
{% set _message = message|default('Tell us more') %}

{# Internal logic - Process properties #}
{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

{# Print result #}
<form class="{{_css_class}}">
  <div class="ecl-u-d-flex ecl-u-flex-wrap" id={{ _selector }} aria-controls={{ _selector ~ "-block" }}>
    <div class="ecl-u-mr-l ecl-u-mb-s">
      {% include '@ec-europa/ema-ratings' with _rating %}
    </div>

    {% block extra_content extra_content %}
  </div>
  <div id={{ _selector ~ "-block" }} class="ema-rating-form__review ecl-u-flex-column" aria-hidden="true">
    <p class="ecl-u-ma-none ecl-u-fs-s"><strong>{{ _message }}</strong></p>
    <div class="ecl-u-d-flex ecl-u-flex-row ecl-u-flex-wrap ecl-u-flex-md-nowrap ecl-u-align-items-end">
      {% include '@ec-europa/ecl-forms-textareas' with { rows: 3, extraClass: 'ecl-u-mr-md-s' } %}
      {% include '@ec-europa/ema-buttons' with {
        extra_classes: 'ecl-button--ema-primary ecl-u-mt-xxxs ema-u-width-100 ema-u-width-md-auto',
        label: 'Submit'
      } %}
    </div>
  </div>
</form>

