{#
  - "sections" (array): [{
    - "label" (string): title of the section (default: '')
    - "links" (array): array of links components
  }]
  - "hotline" (object): {
    - "href" (string): link of the hotline (default: '#')
    - "title" (string): hotline title (default: '')
    - "description" (string): hotline description (default: '')
  }
  - "copyright" (string): copyright text (default: '')
  - "description" (string): description text (default: '')
  - "logo" (object): {
    - "src" (string): source of the image (default: '')
    - "alt" (string): alt text of the image (default: '')
  }
  - "extra_classes" (string): extra CSS classes to be added
  - "extra_attributes" (array): extra attributes classes (optional, format: [{ 'name': 'name_of_the_attribute', 'value': 'value_of_the_attribute'}])
#}

{# Internal properties #}

{% set _copyright = copyright|default('') %}
{% set _description = description|default('') %}
{% set _css_class = 'ema-footer' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_class is defined %}
  {% set _css_class = _css_class ~ ' ' ~ extra_class %}
{% endif %}

{% if extra_attributes is defined %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~'"' %}
  {% endfor %}
{% endif %}

{# Print the result  #}

<footer class="{{ _css_class }}" {{ _extra_attributes }}>
  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__section">
      <div class="ema-footer__hotline">
        <span class="ecl-icon ecl-icon--language ecl-u-fs-xxl ecl-u-mr-xs"></span>
        <a class="ecl-link--ema-inverted" href="{{ hotline.href }}">
          <div class="ema-footer__hotline-title">{{ hotline.title }}</div>
          <div class="ema-footer__hotline-desc">{{ hotline.description }}</div>
        </a>
      </div>
    </div>

    {% for section in sections %}
    <div class="ema-footer__section">
      <div class="ema-footer__title">{{ section.title }}</div>

      <ul class="ecl-list ecl-list--unstyled ema-footer__links">
        {% for link in section.links %}
        <li>
          {% include '@ec-europa/ema-links' with link %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>

  <div class="ecl-container ">
    <div class="ema-footer__social">
      {% for link in social %}
        <span class="ecl-icon ecl-icon--{{ link.icon }}"></span>
        {% include '@ec-europa/ema-links' with link %}
      {% endfor %}
    </div>
  </div>

  <div class="ecl-container ema-footer__content">
    <div class="ema-footer__copyright">{{ copyright }}</div>
    <div class="ema-footer__description">
      {{ description }}
      <div class="ema-footer__logo"><img src="{{ logo.src }}" alt="{{ logo.alt }}" /></div>
    </div>
  </div>

</footer>
