{#
  Accepts:
    - extra_classes (string): additional classes to add to the component
    - extra_attributes (array of { name: '', value: '' })
    - list: the navigation tree (array of { label: '', link: '', list: [] })
#}

{# Internal properties #}
{% set _css_class = 'ema-side-navigation' %}
{% set _extra_attributes = '' %}
{% set _list = list %}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty %}
  {% for attr in extra_attributes %}
    {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name ~ '="' ~ attr.value ~ '"' %}
  {% endfor %}
{% endif %}

{# Print result #}
{% macro menu_links(list, depth, parent_index) %}
  {% import _self as macros %}
  {% for item in list %}
    {% set _current_index = parent_index ? parent_index ~ "-" ~ loop.index : loop.index %}
    {% set _depth = (depth|default(0)) + 1 %}
    {% set _class = "ema-side-navigation__link ema-side-navigation__link--depth-" ~ _depth %}
    <li>
      {% if item.list is defined and item.list is not empty %}
        <a
          class="{{ _class }} ema-side-navigation__link--has-list"
          href="{{ item.link }}">
          {{ item.label }}
        </a>
        <ul
          class="ecl-listing ecl-list--unstyled">
          {{ macros.menu_links(item.list, _depth, _current_index) }}
        </ul>
      {% else %}
        <a
          class="{{ _class }}"
          href="{{ item.link }}">
          {{ item.label }}
        </a>
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}

{% import _self as macros %}
<div class="{{ _css_class }}"{{ _extra_attributes }}>
  <ul class="ecl-listing ecl-list--unstyled">
    {{ macros.menu_links(_list) }}
  </ul>
</div>